full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

p {
    font-size: 20px;
    text-align: left;
}

div {
    text-align: left;
}
h3{
    text-align: left;   
}