/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$background-pale : rgb(252, 252, 130);
$primary-color-dark : #673ab7;

body{
padding: 0;
margin:0;

}

.container {
    margin: 20px;
    display:flex;
} 

.flex-spacer{
    display:flex;
}

.highlight {
    background-color: $background-pale;
    border: 10px solid $primary-color-dark;
    z-index: 1;
    transform: scale(1.01);
}